@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="page-wrapper">
    <div class="blog-list clearfix">
        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_01.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">The best twenty plant species you can look at at home</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1887</a></small>
                <small><a href="garden-single.html" title="">11 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_02.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">How do you like the idea of creating a garden from the Amazon forests?</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 4441</a></small>
                <small><a href="garden-single.html" title="">10 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">

        @foreach(var post in Model.Posts)
        {
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="garden-single.html" title="@post.Title">
                            <img src="upload/garden_sq_03.jpg" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <span class="bg-aqua"><a href="garden-category.html" title="">@post.CategoryName</a></span>
                    <h4><a href="/post/@post.PostId" title="">@post.Title</a></h4>
                    <p>@post.Content.Substring(100)</p>
                    <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1234</a></small>
                    <small><a href="garden-single.html" title="">@post.PublishDate.ToString("dd-MM-yyyy")</a></small>
                    <small><a href="#" title="">@post.PublishedByName</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->
        }

        <hr class="invis">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="upload/banner_05.jpg" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_04.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">30 beautiful flowers you can look at in offices and workplaces</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 4441</a></small>
                <small><a href="garden-single.html" title="">08 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_05.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">Enjoy your living room with small garden biblings</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 2235</a></small>
                <small><a href="garden-single.html" title="">07 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_06.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">Why do you prefer small flowers at your workplace?</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1567</a></small>
                <small><a href="garden-single.html" title="">06 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_07.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">10 special plant species available to live in the window</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1451</a></small>
                <small><a href="garden-single.html" title="">05 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="garden-single.html" title="">
                        <img src="upload/garden_sq_08.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="garden-category.html" title="">Indoor</a></span>
                <h4><a href="garden-single.html" title="">Selection of high quality soil for vegetable gardening</a></h4>
                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 4442</a></small>
                <small><a href="garden-single.html" title="">01 July, 2017</a></small>
                <small><a href="#" title="">by Matilda</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->
    </div><!-- end blog-list -->
</div><!-- end page-wrapper -->

<hr class="invis">

<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-start">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div><!-- end col -->
</div><!-- end row -->
